<center>
    {{ $tweetId := (index .Params 0) | string }}
    {{ $apiUrl := printf "https://publish.x.com/oembed?url=https://x.com/i/status/%s&omit_script=true" $tweetId }}
    {{ $remoteResource := resources.GetRemote $apiUrl }}
    {{ if and $remoteResource ($tweet := $remoteResource.Content | unmarshal) }}
    {{ $tweet.html | safeHTML }}
    <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
    ></script>
    {{ else }}
    <p>This tweet is no longer available.</p>
    {{ end }}
</center>
